<link rel="stylesheet" href="<%= assetPath('css/home.css') %>" >
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>" >
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js') %> "></script>
<script src="<%= assetPath('js/chat_box.js') %> "></script>
<script>
    let addListener=function(friendship_id, user_name){
        var name='#friend-'+friendship_id;
        let button= $(name);
        // console.log(button);
        button.click(function(e){
            // console.log(name);
            $('#chat-window').append(chat_box(friendship_id));
            new chatEngine('user-chat-box', user_name,friendship_id );
            // console.log($(`#chat-${friendship_id} #send-message`))
            $(name).prop('disabled', true);
        });

    }
</script>
<div id="home-container">

    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="type here.." required></textarea>
            <input type="submit" value="Post">
        </form>

        <div id="posts-list-container">
            <ul>
                
                <% for(post of posts) { %> 
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </div>

    </section>
    <div id="users-section">
        <% if(locals.user){ %>
            <section id="user-friends">
                <h4> Friends </h4>
                
                <% for (u of all_users){ %>
                    
                    <% if(locals.user.id == u._id){ %>
                        
                        <% for(friend of u.friendships){ %>
                            <%- include('_friends') -%>
                        <% } %>
                        <% break %>
                    <% } %> 
                
                <% } %>
            </section>
            <% } %>

        <section id="all-users">
            <h4> Users </h4>
            <% for (u of all_users){ %>
                <p>
                    <a href="/users/profile/<%= u.id %>"> <%= u.name %></a>
                </p>
            <% } %>
        </section>

        <section id="chat-window">

        </section>
        
    </div>
    
</div>

<!-- importing this script for creating the comments -->
<script src="<%= assetPath('js/home_post_comments.js') %>" ></script>
<script src="<%= assetPath('js/home_posts.js') %>") %></script>>

<!-- imported the script file for toggle likes, also run it for the already present posts and comments on the page -->
<script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self= this;
        let toggleLike= new ToggleLike(self);
    });
</script>


