<link rel="stylesheet" href="/css/user_profile.css">

<img src="<%= profile_user.avatar %>" alt="<%=profile_user.name %>">

<% if(locals.user.id== profile_user.id){ %>
    <!-- if user matches then show form -->
    <form action="/users/update/<%=profile_user.id %>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="name" value="<%= profile_user.name%>" required>
        <input type="email" name="email" placeholder="email" value="<%= profile_user.email%>" required>
        <input type="file" name="avatar" placeholder="profile picture">
        <input type="submit" value="update">
    </form>
<% } else{ %>
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>

    <!-- check if this user is a friend of the logged in user or not -->
    <% let isFriend= false; %>
    <% for(friend of profile_user.friendships) { %>
        <% if(friend.to_user==locals.user.id || friend.from_user==locals.user.id){ %>
            <% isFriend= true; %>
            <a id="friend-remove-button" href="/friends/remove-friend/<%= profile_user.id %>"> Remove Friend</a>
            <% break; %>
        <% } %>
    <% } %> 

    <% if(isFriend==false){ %>
        <a id="friend-add-button" href="/friends/add-friend/<%= profile_user.id %>"> Add Friend</a>
    <% } %> 
    
    <% } %>


    <script src="../../js/friends.js"></script>